@import "streetSnap.less";
.DRC-scanSucessBox{
	padding:25px 50px;
    background:#fff;

    .img-circle{border:#ccc solid 1px !important}
    dd.scanSucess{
		margin-left:155px;
		.scanSucessTitle{font-size:30px;padding-bottom:20px;}
		p{font-size:0;
			img{margin-right:1px}
			.scanSucessNumb{display:inline-block;font-size:24px;background:#ffd55c;border-radius:3px;vertical-align: middle;padding:0 5px;color:#fff;line-height:24px;margin-left:12px;}
		}

    }
    .scanSucess-msg{font-size:30px;text-align: center;margin-top:25px;
    	i{color:#ff5a00;font-size:32px;padding:0 5px;font-weight:bold;}
    }
	.scanSucess-gay{font-size:24px;color:@C9;text-align: center;margin-top:20px;margin-bottom:25px;}
	.scanSucessStar{margin-top:25px;}
    .scanSucessTextarea{ border-top:@B_d7;border-bottom:@B_d7;.textarea{border:none; width:100%;color:@C9;font-size:26px;min-height:100px};padding:5px 10px;}
    .DRC-bolgLable{ padding-top:90px;
    	span{padding:3px 10px;font-size:24px;line-height:24px;margin-bottom:30px;}
	}
	.scanSucessBoxUl{
		li{font-size:24px;color:@C9;color:#707070}
	}
	
}
