@import "streetSnap.less";
.DRC-userInfo-form{
	padding:0 20px;
	dl{font-size:@f28;border-bottom:@B_d7;
		&:last-child{border-bottom:none;}
        dt{font-weight: normal; float:left;text-indent:10px}
        dd{
        	float:right;
        	input[type=text]{border:none;width:150px;text-align:right;}
            img{width:120px;height:120px;}
            a.DRC-right{display:inline-block !important;width:19px;height: 32px;margin-left:30px;}
        }
        dt,dd{height:80px;line-height:80px;margin-top:0;}
      }     
}
.DRC-streetSnap-bolg,.DRC-vipBox,.DRC-userInfo-form{background:#fff;}

.DRC-vipRightBox{
	h3{font-weight: normal;font-size:24px;height:90px;line-height:90px;color:@C9;margin:0 20px}

	.viprightTable{background:#fff;table-layout:fixed;border-collapse:collapse;
		tbody th,tbody td{
			height:85px;vertical-align: middle;font-size:24px;text-align: center;font-weight: normal;
			border:#d7d7d7 solid 1px;

		}
		tbody th{ background:#f8f8f8;}
	
	}
	/* 会员协议 */
		h3.DRC-vipATitle{text-align: center;font-size:24px !important;color:@color; height:115px;line-height:115px;
			i{font-size:42px;color:#ff5a00;vertical-align: middle;margin-right:10px;}
			span{vertical-align: middle;padding-top:3px}
		}

}
	.vipRightbox{
			div{ background:#fff;}
			a{display:block;height:177px;text-align:center;
			img{margin-top:40px;}
			span{display:block;font-size:24px;color:@color;margin-top:10px }
			}
		 
		
	}